{{>head}}


    <!-- Llamamos el navbar de esta forma gracias a hbs -->
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Intelleon</h1>
        </div>

        <div class="col-4">
            <img src="assets/img/intelleon.jpg" class="img-thumbnail">
        </div>
    </div>

{{>footer}}